<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../Css/form.css">
       
</head>
<body>
    <pre>
        Cach su dung CSS:
          -cach tao file: <file-name>.css
          -cach su dung css:3 Cach
             + dung truc tiep tren element thong qua thuoc tinh style="";
             + dung truc tiep tren trang html thong qua the style
             + nhung file css
          -Do uu tien trong css:id> attr> class> element
                                selecter(cang ro cang uu tien)
                                !impotant:bat buoc su dung css
    </pre>
    <style>
          button{
            color: red;
            
          }  
    </style>
    <form action="">
         <div class="avatar">
            <div class="images">
                <img src="/images/avatar-nam.jpg" alt="anh">
            </div>
         </div>
         <div class="content">
              <div class="input">
                <div class="email">
                    <input type="email" name="email" placeholder="Email" class="input-email">
                   </div>
                   <div class="pass">
                    <input type="password" name="matKhau" placeholder="Mat khau" class="input-pass">
                   </div>
              </div>
               <div class="action">
                <div class="btn">
                    <button  id="btn" style="background:blue">Dang nhap</button>
                </div>
                <div class="link">
                    <a href="https://devmaster.edu.vn/">Ban can tro giup tu DevMaster</a>
                </div>
               </div>
         </div>
    </form>
    <div class="demo">
        <a href="#" class="demo" id="demo" data-attr="demo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla unde sint magnam. Totam quisquam itaque, amet consequuntur ullam repellendus natus eos, blanditiis aliquam saepe facilis officiis deleniti ex esse? Totam!
        </a>
    </div>
</body>
</html>
