<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tieu de tab</title>
</head>
<body>
    <pre>
        *) Cau truc cua 1 trang htmml5
        *)  Cac the trong html:
           -Cac the inline: span,i ,b
           -Cac the bo cuc: section, div,...
           -Cac the thuong dung:(thuoc tinh)
               + img: src (dat dia chi hinh anh); alt(ghi chu cho anh)
               + a :href(duong dan khi click); title(ghi chu cho link)
               + button-form-input-textarea-select(option):
                  -input: type(text, number, email,phone,file,date-local,...)
                           name(radio,checkbox) :quy dinh vung lua chon
                           value:gia tri cua input
               + table:cau truc (thead , tbody , tfoot | tr, th,td)  
               + Cac the tieu de: h1->h6 
               + div, section ,header, footer, nav, ul-li,...         
    </pre>
    <div>
        <input type="radio" name="gender" value="1" checked>nam
        <input type="radio" name="gender" value="2" >nu
        <input type="radio" name="gender" value="3">khac
    </div>
    
    <div>
        <input type="checkbox" name="gender1" value="1" >nam
        <input type="checkbox" name="gender2" value="2" >nu
        <input type="checkbox" name="gender3 " value="3">khac
    </div>

</body>
</html>