*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
html{
    font-size: 10px;
}
.d-flex{
    display: flex;
}
.w-50{
    width: 50%;
}
.ponsition-rel{
    position: relative;
}
.w-100{
    width: 100%;
}
.w-25{
    width: 25%;
}
.text-center{
    text-align: center;
}
.mb-2r{
    margin-bottom: 2rem;
}
.mb-1r{
    margin-bottom: 1rem;
}
.font-15{
    font-size: 0.75rem;
}