<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                 <li class="item" id="item"><a href="google.com" >Trang chu</a></li>
                 <li class="item"><a href="#" >San pham</a>
                    <div class="sub-menu">
                        <ul class="menu-mega">
                            <li class="item"><a href="#">HTML</a></li>
                            <li class="item" ><a href="#">CSS</a>
                                <div class="menu-th">
                                    <ul class="menu-mega">
                                        <li class="item"><a href="#">HTML 2</a></li>
                                        <li class="item"><a href="#">CSS 2</a></li>
                                        <li class="item"><a href="#">JS 2</a></li>
                                    </ul>
                                </div> 
                            </li>
                            <li class="item"><a href="#">JS</a></li>
                        </ul>
                    </div> 
                </li>
                 <li class="item"><a href="#" >Dich vu</a></li>
                 <li class="item"><a href="/" >Lien he</a></li>
            </ul>
        </nav> 
    </header>
    <section>
      <div class="banner">
        <img src="http://devmaster.edu.vn/thong-bao-tuyen-thuc-tap-sinh-chuyen-de-nganh-cong-nghe-thong-tin.html" alt="devmaster">
      </div>
    </section>
</body>
</html>
