<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review</title>
    <link rel="stylesheet" href="../css/layout.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                 <li class="item" id="item"><a href="gogle.com" title="Trang chu">Trang chu</a></li>
                 <li class="item"><a href="#" title="San pham">San pham</a></li>
                 <li class="item"><a href="#" title="Dich vu">Dich vu</a></li>
                 <li class="item"><a href="/" title="Lien he">Lien he</a></li>
            </ul>
        </nav> 
    </header>
</body>
</html>