<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javascript</title>

</head>
<body>
    <!--Cách 1: tương tác trên trực tiếp element -->
    <h1 onclick="alert('Chào mừng bạn đến với Devmaster')">Chào mừng bạn đến với Js</h1>
    <pre>
        *Luyện tập xây dựng quy trình (các bước làm)
          1,Định nghĩa 
            -Ngôn ngữ lập trình kịch bản
            -Hỗ trợ rộng rãi
          2, Mục đích
            - Cung cấp khả năng tương tác với website
          3,Quy tắc
            -Phân biệt chữ hoa ,chữ thường
            -Luôn có cặp kí hiệu mở và đóng như {},()
          4,Cách sử dụng: 3 cách
    </pre>
    <!-- Cách 2:trực tiếp -->
    <!-- <script>
        alert('Chào mừng bạn đến với Devmaster')
    </script> -->
    <!-- Cách 3 -->
    <script language="javascript" src="../js/staging.js"></script>
</body>
</html>