<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Css/home.css">
</head>
<body class="positon-rel">
    <!-- start header -->
    <header>
        <nav class="nav">
            <div class="d-flex">
                <div class="menu-left">
                    <ul class="option">
                        <li class="item">
                            <a href="#" class="link">Trang chủ</a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">Đồng hồ nam</a>
                        </li>
                        <li class="item">
                            <a href="#" class="link">Đồng hồ nữ</a>
                            <ul class="menu-2">
                                <li class="item">
                                    <a href="#">Đồng hồ nam 1</a>
                                </li>
                                <li class="item">
                                    <a href="#">Đồng hồ nam 2</a>
                                </li>
                                <li class="item">
                                    <a href="#">Đồng hồ nam 3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu-center">
                    <div class="logo">
                        <img src="https://curnonwatch.com/_next/static/media/logo.cc5d661a.svg" alt="logo">
                    </div>
                </div>
                <div class="menu-right">
                    <div>
                        <ul class="option">
                            <li class="item">
                                <a href="#" class="link">Giỏ hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header -->
    <!-- start content -->
    <section class="content-page">
         <!-- start banner -->
         <div class="banner-home">
            <div class="image-banner">
                <img class="w-100" src="../images/logo.webp" alt="banner">
            </div>
         </div>
         <!-- end banner -->
         <!-- start category -->
        <div class="home-category ">
            <div class="list-cate  d-flex">
                <div class="cate-content">
                    <div class="image-cate">
                        <img src="../images/lo1.jpg"  class="w-100" alt="cate">
                    </div>
                    <div class="cate-title d-flex">
                         <div class="title">
                            <h4>Đồng hồ nam</h4>
                         </div>
                         <div class="cate-detail">-></div>
                    </div>
                </div>

                <div class="cate-content">
                    <div class="image-cate">
                        <img src="../images/lo2.jpg"  class="w-100" alt="cate">
                    </div>
                    <div class="cate-title d-flex">
                            <div class="title">
                            <h4>Đồng hồ nữ</h4>
                            </div>
                            <div class="cate-detail">-></div>
                    </div>
                </div>

                <div class="cate-content">
                    <div class="image-cate">
                        <img src="../images/lo3.jpg"  class="w-100" alt="cate">
                    </div>
                    <div class="cate-title d-flex">
                            <div class="title">
                            <h4>Đồng hồ đẹp</h4>
                            </div>
                            <div class="cate-detail">-></div>
                    </div>
                </div>
            </div>
         <!-- end category -->
        </div>
        <div class="product-home">
            <div class="row">
                <div class="product">
                    <div class="top-product position-rel">
                        <div class="product-image">
                            <img src="../images/product.webp" alt="img" class="w-100">
                        </div>
                        <div class="product-sale">
                            <span>-20%</span>
                        </div>
                    </div>
                    <div class="center-product">
                        <div class="product-name">
                            <h4>Ten dong ho</h4>
                        </div>
                        <div class="product-price">
                            <span>700.000 vnd</span>
                            <span>1.200.000 vnd</span>
                        </div>
                    </div>
                    <div class="bottom-product">
                        <button class="btn-add">
                            Them vao gio 
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    </section>
    <!-- end content -->
</body>
</html>